{% extends 'base.html' %}

{% block content %}
    <!-- <h1>{% block title %} Welcome to FlaskBlog {% endblock %}</h1> -->
    <br>
    <br>
    <br>
    <hr class="bg-light">
    {% for post in posts %}
        <div class="card">
            <div class="card-body">
                <a href="{{ url_for('post', post_id=post['id']) }}">
                    <h2 class="card-title text-light">{{ post['title'] }}</h2>
                </a>
                <span class="badge badge-info align-right">{{ post['created'] }}</span>
                <a href="{{url_for('edit',id=post['id'])}}">
                    <span class="badge badge-warning">Edit</span>
                </a>
        </div>
        </div>
        <hr class="bg-light">
    {% endfor %}
{% endblock %}